@import "../res/theme/variable";
:root {
  --green: #{$green};
  --gray: #{$gray};
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .about-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
    display: inline;
  }
  .column {
    flex: 33.33%;
  }
  .logo {
    height: 25rem;
  }

  .about-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }
  .about-me {
    font-size: 3rem;
    font-weight: bold;
    color: #f51940;
  }

  .about-text {
    text-align: start;
    width: 90%;
    color: var(--white);
    font-size: 1.5rem;
  }
  .text-contain {
    justify-content: center;
    background-color: red;
    align-content: center;
  }

  .span-text {
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .about-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .column {
    flex: 33.33%;
  }
  .logo {
    height: 25rem;
  }

  .about-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }
  .about-me {
    font-size: 3rem;
    font-weight: bold;
    color: #f51940;
  }

  .about-text {
    text-align: start;
    width: 90%;
    color: var(--white);
    font-size: 1.5rem;
  }
  .text-contain {
    justify-content: center;
    background-color: red;
    align-content: center;
  }

  .span-text {
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .about-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .column {
    flex: 33.33%;
  }
  .logo {
    height: 25rem;
  }

  .about-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }
  .about-me {
    font-size: 3rem;
    font-weight: bold;
    color: #f51940;
  }

  .about-text {
    text-align: start;
    width: 90%;
    color: var(--white);
    font-size: 1.5rem;
  }
  .text-contain {
    justify-content: center;
    background-color: red;
    align-content: center;
  }

  .span-text {
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .about-section {
    padding-top: 6rem;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  .column {
    flex: 33.33%;
  }
  .logo {
    height: 25rem;
  }

  .about-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }
  .about-me {
    font-size: 3rem;
    font-weight: bold;
    color: #f51940;
  }

  .about-text {
    text-align: start;
    width: 90%;
    color: var(--white);
    font-size: 1.5rem;
  }
  .text-contain {
    justify-content: center;
    background-color: red;
    align-content: center;
  }

  .span-text {
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }
}
