@import "../res/theme/variable";
:root {
  --red: #{$red};
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .about-section {
    padding-block: 2rem;
    padding-inline: 2.5rem;
  }

  .logo {
    height: 22rem;
    justify-content: center;
    display: flex;
  }

  .about-title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-primary);
    span {
      color: var(--red);
    }
  }

  .about-text {
    text-align: center;
    color: var(--text-primary);
    font-size: 1.3rem;
    span {
      color: var(--red);
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .about-section {
    align-items: center;
    display: flex;
  }

  .logo {
    height: 26rem;
    display: flex;
    margin-block: 2rem;
    justify-content: center;
  }
  .about-title {
    font-size: 2rem;
    padding-left: 2rem;
    text-align: start;
    color: var(--text-primary);
    span {
      color: var(--red);
    }
  }

  .about-text {
    text-align: justify;
    margin: 2rem;
    color: var(--text-primary);
    font-size: 1.4rem;
    span {
      color: var(--red);
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .about-section {
    padding-top: 3rem;
    align-items: center;
    display: flex;
  }
  .logo {
    height: 35rem;
    display: flex;
    margin-block: 2rem;
    justify-content: center;
  }

  .about-title {
    font-size: 2.5rem;
    margin-left: 2rem;
    text-align: start;
    color: var(--text-primary);
    span {
      color: var(--red);
    }
  }

  .about-text {
    text-align: justify;
    margin: 2rem;
    color: var(--text-primary);
    font-size: 1.5rem;
    span {
      color: var(--red);
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .about-section {
    display: grid;
    padding-top: 6rem;
    grid-template-columns: 0.5fr 1.5fr;
  }

  .logo {
    height: 35rem;
    display: flex;
    margin-block: 2rem;
    justify-content: center;
  }

  .about-title {
    font-size: 2.5rem;
    padding-left: 5rem;
    text-align: start;
    color: var(--text-primary);
    span {
      color: var(--red);
    }
  }

  .about-text {
    text-align: justify;
    margin-inline: 5rem;
    color: var(--text-primary);
    font-size: 1.5rem;
    span {
      color: var(--red);
    }
  }
}
