@import "../res/theme/variable";
:root {
  --white: #{$white};
  --black: #{#000};
  --blood-red: #{$blood-red};
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .achievement-section {
    background-color: var(--black);
    padding: 1rem;
  }

  .achievement-title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }

  .award-icon {
    height: 5rem;
  }
  .achievement-div {
    display: block;
    margin: 1rem;
  }

  .award-name {
    font-weight: bold;
    padding-left: 1rem;
    align-self: center;
    color: var(--white);
    font-size: 1.2rem;
  }
  .center-div {
    display: flex;
    margin-block: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .achievement-section {
    background-color: var(--black);
    padding-top: 2rem;
  }

  .achievement-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .award-icon {
    height: 6rem;
  }
  .achievement-div {
    display: inline-grid;
    margin-inline: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  .award-name {
    font-weight: bold;
    padding-left: 1rem;
    align-self: center;
    color: var(--white);
    font-size: 1.4rem;
  }
  .center-div {
    display: flex;
    margin-block: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .achievement-section {
    background-color: var(--black);
    padding-top: 2rem;
  }

  .achievement-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .award-icon {
    height: 5rem;
  }
  .achievement-div {
    display: grid;
    margin-inline: 5rem;
    grid-template-columns: 1fr 1fr;
  }

  .award-name {
    font-weight: bold;
    padding-left: 1rem;
    align-self: center;
    color: var(--white);
    font-size: 1.4rem;
  }
  .center-div {
    display: flex;
    margin-block: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .achievement-section {
    background-color: var(--black);
    padding-top: 2rem;
  }

  .achievement-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .award-icon {
    height: 5rem;
  }
  .achievement-div {
    display: grid;
    margin-inline: 10rem;
    grid-template-columns: 1fr 1fr;
  }

  .award-name {
    font-weight: bold;
    padding-left: 1rem;
    align-self: center;
    color: var(--white);
    font-size: 1.5rem;
  }
  .center-div {
    display: flex;
    margin-block: 1rem;
  }
}
