@import "../res/theme/variable";
:root {
  --white: #{$white};
  --blood-red: #{$blood-red};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .blog-container {
    justify-content: center;
  }
  .blog-list {
    padding-top: 2rem;
    justify-content: center;
    display: grid;
    box-sizing: border-box;
  }
  .blog-title {
    text-align: center;
    color: var(--text-primary);
    font-size: 2rem;
  }
  .blog-text {
    padding-inline: 1rem;
    color: var(--text-primary);
    font-size: 1.3rem;
  }
  .blog-sub-text {
    padding-inline: 1rem;
    margin-bottom: auto;
    color: var(--text-primary);
    font-size: 0.8rem;
  }

  .blog-image1 {
    align-content: flex-end;
    height: 18rem;
    width: 18rem;
    margin-bottom: 2rem;

    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rn1.gif") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image2 {
    align-content: flex-end;
    margin-bottom: 2rem;

    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/Google.webp") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image3 {
    align-content: flex-end;
    margin-bottom: 2rem;

    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/expp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image4 {
    align-content: flex-end;
    margin-bottom: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .blog-container {
    padding: 10px;
  }
  .blog-list {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }
  .blog-title {
    color: var(--text-primary);
    padding-top: 3rem;
    padding-left: 3rem;
    font-size: 2rem;
  }
  .blog-text {
    padding-inline: 1.3rem;
    color: var(--text-primary);
    font-size: 1.3rem;
  }
  .blog-sub-text {
    padding-inline: 1.3rem;
    margin-bottom: auto;
    color: var(--text-primary);
    font-size: 0.9rem;
  }

  .blog-image1 {
    margin: 2rem;
    height: 18rem;
    width: 18rem;
    align-content: flex-end;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rn1.gif") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image2 {
    align-content: flex-end;
    margin: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/Google.webp") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image3 {
    align-content: flex-end;
    margin: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/expp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image4 {
    align-content: flex-end;
    margin: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .blog-container {
    margin-inline: 2.5rem;
  }
  .blog-list {
    padding-top: 1rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
  }
  .blog-title {
    color: var(--text-primary);
    padding-top: 3rem;
    font-size: 2.5rem;
  }
  .blog-text {
    padding-inline: 1rem;
    color: var(--text-primary);
    font-size: 1rem;
  }
  .blog-sub-text {
    padding-inline: 1rem;
    margin-bottom: auto;
    color: var(--text-primary);
    font-size: 0.8rem;
  }

  .blog-image1 {
    align-content: flex-end;
    height: 16rem;
    width: 16rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rn1.gif") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image2 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 16rem;
    width: 16rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/Google.webp") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image3 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 16rem;
    width: 16rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/expp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image4 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 16rem;
    width: 16rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .blog-container {
    margin-inline: 2.5rem;
    box-sizing: border-box;
  }
  .blog-list {
    padding-top: 3rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
  }
  .blog-title {
    color: var(--text-primary);
    padding-top: 6rem;
    padding-left: 1rem;
    font-size: 2.5rem;
    font-family: "Nunito-ExtraBold";
  }
  .blog-text {
    padding-inline: 1.5rem;
    color: var(--text-primary);
    font-size: 1.2rem;
    margin-bottom: auto;
    font-family: "Nunito-ExtraBold";
  }
  .blog-sub-text {
    padding-inline: 1.5rem;
    margin-bottom: auto;
    color: var(--text-primary);
    font-size: 0.9rem;
    font-family: "Nunito-Regular";
  }

  .blog-image1 {
    align-content: flex-end;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rn1.gif") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image2 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/Google.webp") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image3 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/expp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .blog-image4 {
    align-content: flex-end;
    margin-left: 2rem;
    height: 18rem;
    width: 18rem;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), #000),
      url("../res/rp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
}
