@import "../res/theme/variable";
:root {
  --white: #{$white};
  --red: #{#ff004f};
  --black: #{#000000};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .contact-container {
    justify-content: center;
    display: grid;
    padding-top: 40px;
  }
  .contact-title {
    color: var(--text-primary);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  .email-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .location-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .detail {
    justify-content: flex-start;
    display: flex;
    margin-block-end: 2rem;
    align-items: center;
  }

  .name-input {
    width: 18rem;
    height: 2.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .email-input {
    color: var(--text-primary);
    width: 18rem;
    height: 2.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .message-input {
    width: 18rem;
    height: 9rem;
    padding-inline: 1rem;
    margin-bottom: 2rem;
  }
  .submit-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  .submit-button {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5rem;
    background-color: #ff004f;
    width: 20rem;
    padding-block: 0.8rem;
    border-radius: 0.5rem;
  }

  .text-div {
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }
  .detail-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .detail-value {
    color: var(--text-primary);
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .contact-container {
    justify-content: space-around;
    display: flex;
    padding-top: 80px;
    padding-left: 2rem;
  }
  .contact-title {
    color: var(--text-primary);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  .email-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .location-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .detail {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  .name-input {
    width: 25rem;
    height: 2.5rem;
    padding-inline: 1rem;

    margin-bottom: 1rem;
  }
  .email-input {
    color: var(--text-primary);
    width: 25rem;
    height: 2.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .message-input {
    width: 25rem;
    height: 9rem;
    padding-inline: 1rem;

    margin-bottom: 2rem;
  }
  .submit-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .submit-button {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5rem;
    background-color: #ff004f;
    width: 27rem;
    padding-block: 0.8rem;
    border-radius: 0.5rem;
  }

  .text-div {
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }
  .detail-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .detail-value {
    color: var(--text-primary);
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .contact-container {
    justify-content: space-around;
    display: flex;
    margin-inline: 2rem;
    padding-top: 5rem;
  }
  .contact-title {
    color: var(--text-primary);
    font-size: 2.5rem;
    text-align: left;
  }
  .email-icon {
    width: 3rem;
    height: 3rem;
    background-size: contain;
  }
  .location-icon {
    width: 3rem;
    height: 3rem;
    background-size: contain;
  }
  .detail {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  .name-input {
    width: 40rem;
    height: 2.5rem;
    padding-inline: 1rem;
    border-left-width: 0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    margin-bottom: 1rem;
    border-bottom-width: 0.2rem;
    background-color: var(--white);
    border-bottom-color: var(--white);
  }
  .email-input {
    color: var(--text-primary);
    width: 40rem;
    height: 2.5rem;
    padding-inline: 1rem;
    border-left-width: 0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    margin-bottom: 1rem;
    border-bottom-width: 0.2rem;
    background-color: var(--white);
    border-bottom-color: var(--white);
  }
  .message-input {
    width: 40rem;
    height: 9rem;
    padding-inline: 1rem;
    border-left-width: 0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    margin-bottom: 2rem;
    border-bottom-width: 0.2rem;
    background-color: var(--white);
    border-bottom-color: var(--white);
  }
  .submit-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .submit-button {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #ff004f;
    width: 42rem;
    padding-block: 0.8rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: #ff004f;
    border-style: solid;
  }

  .text-div {
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }
  .detail-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .detail-value {
    color: var(--text-primary);
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .contact-container {
    justify-content: space-between;
    display: flex;
    padding-block: 5rem;
    padding-right: 5rem;
  }
  .contact-title {
    color: var(--text-primary);
    font-size: 2.5rem;
    padding-left: 3rem;
    text-align: left;
  }
  .email-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .location-icon {
    width: 45px;
    height: 45px;
    background-size: contain;
  }
  .detail {
    margin-left: 4rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }

  .name-input {
    width: 40rem;
    height: 2.5rem;
    margin-top: 2rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .email-input {
    color: var(--text-primary);
    width: 40rem;
    height: 2.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
  }
  .message-input {
    width: 40rem;
    height: 9rem;
    padding-inline: 1rem;
    margin-bottom: 2rem;
  }
  .submit-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .submit-button {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #ff004f;
    width: 42rem;
    padding-block: 1rem;
    border-radius: 0.5rem;
  }

  .text-div {
    display: inline-block;
    text-align: left;
    margin-left: 1rem;
  }
  .detail-title {
    color: var(--text-primary);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
  }
  .detail-value {
    color: var(--text-primary);
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
  }
}
