@import "../res/theme/variable";
:root {
  --white: #{$white};
  --black: #{#000};
  --blood-red: #{$blood-red};
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .fourth-section {
    padding-block: 2rem;
    padding-inline: 2.5rem;
  }

  .experience-title {
    color: var(--text-primary);
    text-align: center;
    font-size: 2rem;
  }

  .office-logo {
    width: 20rem;
  }
  .experience-div {
    display: inline;
  }

  .company-text {
    display: flex;
    font-family: "Nunito-SemiBold";
    color: var(--text-primary);
    font-size: 1rem;
  }
  .company-sub-text {
    display: flex;
    font-family: "Nunito-Regular";
    color: var(--text-primary);
    font-size: 0.8rem;
  }
  .back-ground {
    background-color: #f519413a;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .fourth-section {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
  }

  .experience-title {
    color: var(--text-primary);
    text-align: left;
    padding-left: 3rem;
    font-size: 2rem;
  }

  .office-logo {
    width: 25rem;
  }
  .experience-div {
    display: block;
    padding-inline: 4rem;
  }

  .company-text {
    text-align: left;
    display: flex;
    align-self: center;
    font-family: "Nunito-SemiBold";

    color: var(--text-primary);
    font-size: 1rem;
  }
  .company-sub-text {
    display: flex;
    align-self: center;
    font-family: "Nunito-Regular";

    color: var(--text-primary);
    font-size: 0.8rem;
  }
  .back-ground {
    background-color: #f519413a;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .fourth-section {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
  }

  .experience-title {
    color: var(--text-primary);
    text-align: left;
    font-size: 2.5rem;
    padding-left: 3rem;
  }

  .office-logo {
    width: 30rem;
  }
  .experience-div {
    display: grid;
    padding-left: 4rem;
    align-items: center;
    grid-template-columns: 0.9fr 1fr;
  }

  .company-text {
    display: flex;
    align-self: center;
    color: var(--text-primary);
    font-family: "Nunito-SemiBold";

    font-size: 1.4rem;
  }
  .company-sub-text {
    display: flex;
    align-self: center;
    color: var(--text-primary);
    font-family: "Nunito-Regular";

    font-size: 1rem;
  }
  .back-ground {
    background-color: #f519413a;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .fourth-section {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
  }

  .experience-title {
    color: var(--text-primary);
    text-align: left;
    font-size: 2.5rem;
    padding-left: 3rem;
  }

  .office-logo {
    width: 35rem;
  }
  .experience-div {
    display: grid;
    padding-left: 4rem;
    align-items: center;
    grid-template-columns: 0.9fr 1fr;
  }

  .company-text {
    display: flex;
    align-self: center;
    font-family: "Nunito-SemiBold";
    color: var(--text-primary);
    font-size: 1.5rem;
  }
  .company-sub-text {
    font-weight: 400;
    display: flex;
    align-self: center;
    font-family: "Nunito-Regular";

    color: var(--text-primary);
    font-size: 1rem;
  }
  .back-ground {
    background-color: #f519413a;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
