.menu-text {
	padding: 0px 5px 0px 5px;
	text-align: center;
	color: white;
	font-size: 0.8rem;
}
.background-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), #000),
		url("https://s1.1zoom.me/b5050/159/Coffee_Laptops_Hands_Table_533543_3840x2400.jpg");
	width: 100vw;
	height: 100vh;
}
.header-container {
	padding-block: 1vw;
	padding-inline: 1vw;
	display: flex;
}
.header {
	flex: 1;
	margin-inline: 4vw;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}
.logo {
	background-position: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("https://www.seekpng.com/png/full/913-9131600_mfs-logo-white-accor-hotels-white-logo.png");
	width: 4vw;
	height: 5vh;
}
.title-container {
	margin-left: 4vw;
	align-items: center;
	display: flex;
}
.title-text {
	font-weight: bold;
	color: white;
	font-size: 1.5rem;
}
.home {
	padding-inline: 1vw;
	border-radius: 5px;
	border-width: 1.5px;
	border-color: white;
	border-style: solid;
}
.about-me {
	padding-inline: 1vw;
}
.center-container {
	display: flex;
	margin-top: 5vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.center-logo {
	background-position: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("https://www.seekpng.com/png/full/913-9131600_mfs-logo-white-accor-hotels-white-logo.png");
	width: 10vw;
	height: 20vw;
}
.name-text {
	font-weight: bold;
	color: white;
	font-size: 3rem;
	margin-top: -7vw;
}
.subtitle-text {
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: -2.5vh;
}
.contact-container {
	margin-top: 8vh;
	padding-inline: 1vw;
	border-radius: 5px;
	border-width: 1.5px;
	border-color: white;
	border-style: solid;
}
.contact-text {
	padding: 2px 10px 2px 10px;
	text-align: center;
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
}
