@import "../res/theme/variable";
:root {
  --white: #{$white};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .background {
    background-color: #000;
  }

  .nav-container {
    padding: 1rem;
    display: flex;
    z-index: 1;
    width: 100%;
    right: 0;
    background-color: #000;
    margin-right: 2rem;
    justify-content: flex-end;
    position: fixed;
  }

  .nav-text {
    padding: 0px 1rem 0px 1rem;
    text-align: center;
    color: var(--white);
    font-size: 0.8rem;
  }

  .home-container {
    display: flex;
    flex-direction: row;
    height: 42rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    flex-direction: column;
  }
  .my-photo {
    margin-top: -3rem;
    height: 30rem;
  }

  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 3rem;
    align-self: start;
  }

  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 3rem;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .background {
    background-color: #000;
  }

  .nav-container {
    display: flex;
    z-index: 1;
    width: 100%;
    right: 0;
    background-color: #000;
    padding-right: 2rem;
    justify-content: flex-end;
    position: fixed;
  }
  .nav-menu {
    display: flex;
  }
  .vd-logo {
    padding-left: 5rem;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    font-size: 1rem;
    :hover {
      color: #ff004f;
    }
  }

  .home-container {
    display: block;
    flex-direction: row;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 12rem;
    flex-direction: column;
  }
  .my-photo {
    height: 38rem;
    margin-right: -10rem;
  }

  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 3rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 3rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;

    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .background {
    background-color: #000;
  }

  .nav-container {
    display: flex;
    z-index: 1;
    width: 100%;
    right: 0;
    background-color: #000;
    padding-right: 2rem;
    justify-content: flex-end;
    position: fixed;
  }
  .nav-menu {
    display: flex;
  }
  .vd-logo {
    padding-left: 5rem;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    font-size: 1rem;
    :hover {
      color: #ff004f;
    }
  }

  .home-container {
    display: flex;
    flex-direction: row;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 12rem;
    flex-direction: column;
  }
  .my-photo {
    height: 38rem;
    margin-right: -10rem;
  }

  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 3rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 3rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;

    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .background {
    background-color: #000;
  }

  .nav-container {
    display: flex;
    z-index: 1;
    width: 100%;
    right: 0;
    background-color: #000;
    padding-right: 2rem;
    justify-content: space-between;
    position: fixed;
  }
  .nav-menu {
    display: flex;
  }
  .vd-logo {
    padding-left: 5rem;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    font-size: 1rem;
    :hover {
      color: #ff004f;
    }
  }

  .home-container {
    display: flex;
    flex-direction: row;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 12rem;
    flex-direction: column;
  }
  .my-photo {
    height: 38rem;
    margin-right: -10rem;
  }
  .vd-logo {
  }
  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 3rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 3rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;

    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}
