@import "../res/theme/variable";
:root {
  --white: #{$white};
  --gray: #{$gray};
  --blood-red: #{$blood-red};
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .fourth-title {
    color: var(--gray);
    font-weight: bold;
    font-size: 2rem;
  }

  .option-list {
    display: block;
    overflow: auto;
    list-style: none;
  }
  .image-list {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 12rem;
    list-style: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .button {
    color: var(--blood-red);
    font-weight: 500;
    font-size: 0.9rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: var(--blood-red);
    border-style: solid;
  }
  .grid-image-item {
    height: 16rem;
    width: 14rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .name {
    color: azure;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .fourth-title {
    color: var(--gray);
    padding-top: 5rem;
    font-weight: bold;
    font-size: 2.2rem;
  }

  .option-list {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: auto;
    list-style: none;
  }
  .image-list {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 15rem 12rem;
    list-style: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .button {
    color: var(--blood-red);
    font-weight: 500;
    font-size: 0.9rem;
    margin: 1rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: var(--blood-red);
    border-style: solid;
  }
  .grid-image-item {
    height: 18rem;
    width: 14rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .fourth-title {
    color: var(--gray);
    padding-top: 5rem;
    font-weight: bold;
    font-size: 2.2rem;
  }

  .option-list {
    justify-content: center;
    display: flex;
    overflow: auto;
    list-style: none;
  }
  .image-list {
    justify-content: center;
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    list-style: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .button {
    color: var(--blood-red);
    font-weight: 500;
    font-size: 0.9rem;
    margin: 2rem;
    background-color: var(--white);
    padding-inline: 1rem;
    padding-block: 0.8rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: var(--blood-red);
    border-style: solid;
  }
  .grid-image-item {
    height: 18rem;
    width: 15rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .fourth-section {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6rem;
    padding-left: 6rem;
  }

  .fourth-title {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
  }

  .office-logo {
    width: 35rem;
  }
  .experience-div {
    display: flex;
  }
  .title-1 {
    font-weight: bolder;
    font-size: 3rem;
    color: #f51940;
  }
  .experience-box {
    margin-left: 1rem;
    flex: 33.33%;
  }
  .company-text {
    font-weight: bold;
    display: flex;
    align-self: center;
    color: var(--white);
    font-size: 1.5rem;
  }
  .company-sub-text {
    font-weight: 400;
    display: flex;
    align-self: center;
    color: var(--white);
    font-size: 1rem;
  }
  .back-ground {
    background-color: #f519413a;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
