@import "../res/theme/variable";
:root {
	--white: #{$white};
	--gray: #{$gray};
	--blood-red: #{$blood-red};
}
.fourth-title {
	color: var(--gray);
	padding-top: 5rem;
	font-weight: bold;
	font-size: 2.2rem;
}

.option-list {
	justify-content: center;
	display: flex;
	overflow: auto;
	list-style: none;
}
.image-list {
	justify-content: center;
	display: grid;
	grid-template-columns: 16rem 16rem 16rem 16rem;
	list-style: none;
}
.button-container {
	display: flex;
	justify-content: center;
	align-self: center;
}
.button {
	color: var(--blood-red);
	font-weight: 500;
	font-size: 0.9rem;
	margin: 2rem;
	background-color: var(--white);
	padding-inline: 1rem;
	padding-block: 0.8rem;
	border-radius: 0.5rem;
	border-width: 2px;
	border-color: var(--blood-red);
	border-style: solid;
}
.grid-image-item {
	height: 18rem;
	width: 15rem;
	margin-bottom: 2rem;
	font-weight: 500;
	font-size: 0.9rem;
	border-radius: 0.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
