@import "../res/theme/variable";
:root {
  --white: #{$white};
  --red: #{#ff004f};
  --black: #{#000000};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .home-container {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .my-photo {
    height: 20rem;
  }

  .name-container {
    display: inline;
    padding: 3rem;
    flex-direction: column;
  }
  .title {
    color: var(--text-primary);
    font-size: 2rem;
    span {
      color: var(--red);
    }
  }

  .description {
    font-size: 1.5rem;
    align-self: start;
    color: var(--red);
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    margin-block: 2rem;
    justify-content: space-between;
  }
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    min-height: 100vh;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 3rem;
    flex-direction: column;
  }
  .my-photo {
    height: 25rem;
  }
  .title {
    color: var(--text-primary);
    font-size: 2rem;
    text-align: left;
    span {
      color: var(--red);
    }
  }
  .description {
    color: var(--red);
    font-size: 1.5rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
  }
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    margin-right: 1.5rem;
    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    background-size: contain;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    min-height: 100vh;
    padding-top: 50px;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 5rem;
    flex-direction: column;
  }
  .my-photo {
    height: 30rem;
  }
  .title {
    color: var(--text-primary);
    font-size: 2.5rem;
    text-align: left;
    span {
      color: var(--red);
    }
  }
  .description {
    color: var(--red);
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
  }
  .circle {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;
    margin-right: 1.5rem;
    justify-content: center;
    border-width: 1.5px;
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    background-size: contain;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .home-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    min-height: 100vh;
    padding-top: 50px;
    align-items: center;
  }

  .name-container {
    display: flex;
    padding-left: 6rem;
    flex-direction: column;
  }
  .my-photo {
    height: 35rem;
  }

  .title {
    color: var(--text-primary);
    font-size: 2.5rem;
    text-align: left;
    span {
      color: var(--red);
    }
  }

  .description {
    color: var(--red);
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
  }
  .circle {
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    border-width: 1.5px;
    border-style: solid;
    margin-right: 1.5rem;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    background-size: contain;
  }
}
