@import "../res/theme/variable";
:root {
  --white: #{$white};
  --red: #{#ff004f};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .background {
    background-color: #000;
  }
  .home-container {
    padding-top: 10rem;
    justify-content: space-around;
    align-items: center;
  }

  .my-photo {
    width: 20rem;
    height: 25rem;
    padding-left: 2rem;
  }

  .name-container {
    display: inline;
    flex-direction: column;
  }
  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 2rem;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    margin-block: 2rem;
    justify-content: center;
  }
  .circle {
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .background {
    background-color: #000;
  }

  .home-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.3fr;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 5rem;
    flex-direction: column;
  }
  .my-photo {
    height: 30rem;
    width: 30rem;
  }
  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 2.5rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2.5rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;

    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .background {
    background-color: #000;
  }
  .home-container {
    display: flex;
    flex-direction: row;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
  }
  .name-container {
    display: flex;
    padding-left: 8rem;
    flex-direction: column;
  }
  .my-photo {
    height: 35rem;
    width: 35rem;
  }
  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 2.5rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 2.5rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: #ff004f;
    font-size: 1.5rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    justify-content: space-around;
  }
  .circle {
    width: 32px; /* Set the desired width */
    height: 32px; /* Set the desired height */
    border-radius: 50%; /* Make the div a circle */
    display: flex;

    align-items: center;
    justify-content: center;
    border-width: 1.5px;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    align-self: center;
    background-size: contain;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .background {
    background-color: #000;
  }

  .home-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.3fr;
    height: 42rem;
    padding-top: 6rem;
    justify-content: space-around;
  }

  .name-container {
    display: flex;
    padding-left: 8rem;
    flex-direction: column;
  }
  .my-photo {
    height: 40rem;
    width: 50rem;
  }

  .hi-text {
    font-weight: bold;
    color: var(--white);
    font-size: 2.5rem;
    text-align: left;
  }
  .name-text {
    font-weight: bold;
    color: var(--red);
    font-size: 2.5rem;
    align-self: start;
  }
  .sub-text {
    font-weight: bold;
    color: var(--red);
    font-size: 2rem;
    align-self: start;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 2s infinite;
  }

  .social-section {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: var(--white);
    border-style: solid;
  }
  .img {
    width: 25px;
    height: 25px;
    margin-top: 0.3rem;
    background-size: contain;
  }
}
