@import "../res/theme/variable";
:root {
  --white: #{$white};
  --red: #{#ff004f};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .nav-container {
    display: flex;
    z-index: 1;
    width: 100vw;
    background-color: var(--bg-primary);
    justify-content: space-between;
    position: fixed;
  }
  .nav-menu {
    display: none;
    padding-right: 1rem;
  }
  .nav-menu-open {
    display: inline;
    width: 100vw;
    height: 100vh;
    margin-top: 3rem;
    padding-top: 10rem;
    background-color: rgba(#000, 0.85);
    position: absolute;
  }
  .my-logo {
    width: 6rem;
    height: 2.8rem;
    margin-top: 0.5rem;
  }

  .menu-logo {
    display: flex;
    width: 2rem;
    margin-right: 1rem;
    height: 2rem;
    padding-top: 0.5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-primary);
    font-size: 1rem;
    :hover {
      color: var(--red);
    }
  }
  .menu-div {
    margin-top: 10rem;
    position: absolute;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-container {
    display: flex;
    z-index: 1;
    width: 100vw;
    background-color: var(--bg-primary);
    justify-content: space-between;
    position: fixed;
  }
  .nav-menu {
    display: none;
    padding-right: 3rem;
  }
  .nav-menu-open {
    display: inline;
    margin-top: 3rem;
    padding-top: 10rem;
    position: absolute;
    background-color: rgba(#000, 0.85);
    width: 100vw;
    height: 100vh;
  }
  .my-logo {
    width: 12rem;
    height: 3.5rem;

    margin-top: 0.5rem;
  }
  .menu-logo {
    display: flex;
    width: 2rem;
    margin-right: 2rem;
    height: 2rem;
    padding-top: 1rem;
  }
  .nav-text {
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-primary);
    font-size: 1rem;
    :hover {
      color: var(--red);
    }
  }
  .menu-div {
    position: absolute;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .nav-container {
    display: flex;
    z-index: 1;
    width: 100vw;
    background-color: var(--bg-primary);
    justify-content: space-between;
    position: fixed;
  }
  .nav-menu {
    display: flex;
    padding-right: 3rem;
  }
  .nav-menu-open {
    display: inline;
    margin-top: 10rem;
    width: 100vw;
    height: 100vh;
  }
  .my-logo {
    width: 10rem;
    height: 3.5rem;
    margin-top: 0.8rem;
  }
  .menu-logo {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-primary);
    font-size: 1.1rem;
    :hover {
      color: var(--red);
    }
  }

  .menu-div {
    position: absolute;
    margin-top: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .nav-container {
    display: flex;
    z-index: 1;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    background-color: var(--bg-primary);
  }
  .nav-menu {
    display: flex;
    padding-right: 3rem;
  }
  .nav-menu-open {
    display: inline;
    margin-top: 5rem;
    background-color: rgba(#000, 0.85);
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .my-logo {
    width: 10rem;
    height: 4rem;
    margin-top: 0.5rem;
  }

  .menu-logo {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
  }
  .nav-text {
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-primary);
    font-size: 1.1rem;
    :hover {
      color: var(--red);
    }
  }
  .menu-div {
    position: absolute;
    margin-top: 10rem;
  }
}
