.seventh-background {
	background-color: #579e6b;
}
.seventh-title {
	color: white;
	padding-top: 6vw;
	font-weight: bold;
	font-size: 2.2rem;
}
.seventh-subtitle {
	color: white;
	font-size: 1rem;
}
.touch-container {
	display: flex;
	justify-content: center;
}
.location-margin {
	margin: 2vw;
}
.pin-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/pin.png);
	width: 2vw;
	height: 2vw;
}
.email-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../res/email.png);
	width: 2vw;
	height: 2vw;
	margin-left: auto;
	margin-right: auto;
}

.call-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../res/call.png);
	width: 2vw;
	height: 2vw;
	margin-left: auto;
	margin-right: auto;
}
.address-text {
	font-size: 0.9em;
	color: white;
}
.name-input {
	width: 40vw;
	height: 2.5vw;
	padding-inline: 1vw;
	border-left-width: 0vw;
	border-right-width: 0vw;
	border-top-width: 0vw;
	margin-bottom: 1vw;
	border-bottom-width: 0.2vw;
	background-color: #529563;
	border-bottom-color: white;
}
.email-input {
	color: white;
	width: 40vw;
	height: 2.5vw;
	padding-inline: 1vw;
	border-left-width: 0vw;
	border-right-width: 0vw;
	border-top-width: 0vw;
	margin-bottom: 1vw;
	border-bottom-width: 0.2vw;
	background-color: #529563;
	border-bottom-color: white;
}
.message-input {
	width: 40vw;
	height: 9vw;
	padding-inline: 1vw;
	border-left-width: 0vw;
	border-right-width: 0vw;
	border-top-width: 0vw;
	margin-bottom: 5vw;
	border-bottom-width: 0.2vw;
	background-color: #529563;
	border-bottom-color: white;
}
.submit-container {
	display: flex;
	justify-content: center;
	align-self: center;
}
.submit-button {
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
	margin-bottom: 5vw;
	background-color: #529563;
	padding-inline: 1vw;
	padding-block: 0.8vw;
	border-radius: 0.5vw;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}
