@import "../res/theme/variable";
:root {
	--white: #{$white};
	--gray: #{$gray};
	--green: #{$green};
	--dark-green: #{$dark-green};
}
.seventh-background {
	background-color: #579e6b;
}
.seventh-title {
	color: var(--white);
	padding-top: 5rem;
	font-weight: bold;
	font-size: 2.2rem;
}
.seventh-subtitle {
	color: var(--white);
	font-size: 1rem;
}
.touch-container {
	display: flex;
	justify-content: center;
}
.location-margin {
	margin: 2rem;
}
.pin-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/pin.png);
	width: 2rem;
	height: 2rem;
}
.email-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../res/email.png);
	width: 2rem;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.call-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../res/call.png);
	width: 2rem;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
}
.address-text {
	font-size: 0.9rem;
	color: var(--white);
}
.name-input {
	width: 40rem;
	height: 2.5rem;
	padding-inline: 1rem;
	border-left-width: 0rem;
	border-right-width: 0rem;
	border-top-width: 0rem;
	margin-bottom: 1rem;
	border-bottom-width: 0.2rem;
	background-color: var(--dark-green);
	border-bottom-color: var(--white);
}
.email-input {
	color: var(--white);
	width: 40rem;
	height: 2.5rem;
	padding-inline: 1rem;
	border-left-width: 0rem;
	border-right-width: 0rem;
	border-top-width: 0rem;
	margin-bottom: 1rem;
	border-bottom-width: 0.2rem;
	background-color: var(--dark-green);
	border-bottom-color: var(--white);
}
.message-input {
	width: 40rem;
	height: 9rem;
	padding-inline: 1rem;
	border-left-width: 0rem;
	border-right-width: 0rem;
	border-top-width: 0rem;
	margin-bottom: 2rem;
	border-bottom-width: 0.2rem;
	background-color: var(--dark-green);
	border-bottom-color: var(--white);
}
.submit-container {
	display: flex;
	justify-content: center;
	align-self: center;
}
.submit-button {
	color: var(--white);
	font-weight: 500;
	font-size: 0.9rem;
	margin-bottom: 5rem;
	background-color: var(--green);
	padding-inline: 1rem;
	padding-block: 0.8rem;
	border-radius: 0.5rem;
	border-width: 2px;
	border-color: var(--white);
	border-style: solid;
}
