@import "../res/theme/variable";
:root {
  --white: #{$white};
  --gray: #{$gray};
  --black: #{$black};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .main-background {
    display: flex;
    padding: 2rem;
    margin-top: -35px;
    flex-direction: column;
    background-color: var(--black);
  }

  .skill-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
    color: white;
  }
  .skill-image {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .main-background {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    background-color: var(--black);
  }

  .skill-title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: start;
    color: white;
  }

  .skill-div {
    background-color: #f51940;
  }
  .skill-image {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .main-background {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    background-color: var(--black);
  }

  .skill-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }

  .skill-div {
    background-color: #f51940;
  }
  .skill-image {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .main-background {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    background-color: var(--black);
  }

  .skill-title {
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    color: white;
  }

  .skill-image {
    margin: 2rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
  }
}
