@import "../res/theme/variable";
:root {
  --white: #{$white};
  --black: #{$black};
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Mobile Devices */
@media (min-width: 360px) and (max-width: 600px) {
  .main-background {
    display: flex;
    margin-inline: 2rem;
    flex-direction: column;
  }
  .skill-div {
    justify-content: center;
  }
  .skill-title {
    font-size: 2rem;
    text-align: center;
  }
  .skill-image {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* Tablets iPads (Portrait) */
@media (min-width: 600px) and (max-width: 1024px) {
  .main-background {
    display: flex;
    margin: 2.5rem;
    padding: 1rem;
    flex-direction: column;
  }

  .skill-title {
    font-size: 2rem;
    text-align: start;
  }

  .skill-div {
    align-self: center;
  }
  .skill-image {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .main-background {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    margin: 2.5rem;
  }

  .skill-title {
    font-size: 2rem;
    padding-left: 1rem;
    text-align: start;
  }

  .skill-div {
    align-self: center;
  }
  .skill-image {
    margin: 1.5rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Big Monitors */
@media only screen and (min-width: 1281px) {
  .main-background {
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    margin: 2.5rem;
  }

  .skill-title {
    font-size: 2.5rem;
    padding-left: 1rem;
    text-align: start;
    color: var(--text-primary);
  }

  .skill-div {
    align-self: center;
  }
  .skill-image {
    margin: 2rem;
    width: 4rem;
    height: 4rem;
  }
  .lang-title {
    align-self: center;
    font-size: 1.8rem;
    color: var(--text-primary);
  }
}
