@import "../res/theme/variable";
:root {
	--white: #{$white};
	--gray: #{$gray};
	--blood-red: #{$blood-red};
}
.main-background {
	background-color: var(--blood-red);
}

.third-title-text {
	color: var(--white);
	padding-top: 5rem;
	font-weight: bold;
	font-size: 2.2rem;
}
.subtitle-text {
	color: var(--white);
	padding-top: 1rem;
	font-size: 1rem;
}
.second-container {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 5rem;
	justify-content: center;
}
.first-section {
	margin: 2.5rem;
}
.first-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/imac.png);
	width: 4rem;
	height: 4rem;
}
.second-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/instagram-logo.png);
	width: 4rem;
	height: 4rem;
}
.third-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/tools-and-utensils.png);
	width: 4rem;
	height: 4rem;
}
.fourth-image {
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(../res/puzzle.png);
	width: 4rem;
	height: 4rem;
}
.web-title {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--white);
}
.web-subtitle {
	font-size: 0.8rem;
	color: var(--white);
}
